$darkBrown: rgb(98, 64, 1);
$lightBrown: rgb(240, 176, 56);
$green: rgb(66, 189, 42);


// hot menu
$darkHot: rgb(77, 24, 0);
$lightHot:rgb(231, 106, 3);
$mediumHot: rgb(139, 2, 2);

// cold menu
$darkCold: rgb(0, 37, 139);
$lightCold:rgb(73, 197, 255);

// seasonal menu
$darkSeasonal: rgb(31, 0, 0);
$lightSeasonal:rgb(255, 0, 0);
$mediumSeasonal:rgb(113, 243, 7);

// to eat

$darkEat: rgb(122, 0, 95);
$lightEat:rgb(74, 0, 117);
$mediumEat:rgb(216, 166, 0);
