@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Dancing+Script:wght@400..700&family=Merienda:wght@300..900&family=Oswald:wght@200..700&family=Shadows+Into+Light&display=swap');
@import '../utils/media_queries';

$logo-font: 'Dancing Script', sans-serif;
$normal-font: 'Oswald', sans-serif;
$normal2-font:'Anton', sans-serif;
$normal3-font:'Abril Fatface';
$menu-font:'Shadows Into Light';

